@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #9e447d;
    overflow: hidden;
    text-transform: capitalize;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.real-contact-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/src/img/purple-sky-for-contactus.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 5;
}

.fake-contact-container {
    position: fixed;
    background-color: #1e1e1e;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
    clip-path: circle(150% at 50% 90%);
    transition: all 0.5s ease-in-out;
}

/* >>>>>>>>>> */
.fake-contact-container .glitch {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 15px auto;
    left: 50%;
    transform: translate(-50%);
}

@keyframes noise-anim {
    0% {
        clip: rect(24px, 9999px, 55px, 0);
   }
    5% {
        clip: rect(81px, 9999px, 42px, 0);
   }
    10% {
        clip: rect(12px, 9999px, 25px, 0);
   }
    15% {
        clip: rect(76px, 9999px, 34px, 0);
   }
    20% {
        clip: rect(50px, 9999px, 86px, 0);
   }
    25% {
        clip: rect(31px, 9999px, 45px, 0);
   }
    30% {
        clip: rect(52px, 9999px, 60px, 0);
   }
    35% {
        clip: rect(64px, 9999px, 51px, 0);
   }
    40% {
        clip: rect(34px, 9999px, 97px, 0);
   }
    45% {
        clip: rect(32px, 9999px, 81px, 0);
   }
    50% {
        clip: rect(47px, 9999px, 72px, 0);
   }
    55% {
        clip: rect(24px, 9999px, 26px, 0);
   }
    60% {
        clip: rect(10px, 9999px, 14px, 0);
   }
    65% {
        clip: rect(74px, 9999px, 57px, 0);
   }
    70% {
        clip: rect(79px, 9999px, 65px, 0);
   }
    75% {
        clip: rect(51px, 9999px, 63px, 0);
   }
    80% {
        clip: rect(90px, 9999px, 93px, 0);
   }
    85% {
        clip: rect(60px, 9999px, 31px, 0);
   }
    90% {
        clip: rect(12px, 9999px, 95px, 0);
   }
    95% {
        clip: rect(73px, 9999px, 21px, 0);
   }
    100% {
        clip: rect(15px, 9999px, 94px, 0);
   }
}
.fake-contact-container .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
    0% {
        clip: rect(23px, 9999px, 99px, 0);
   }
    5% {
        clip: rect(5px, 9999px, 63px, 0);
   }
    10% {
        clip: rect(56px, 9999px, 64px, 0);
   }
    15% {
        clip: rect(4px, 9999px, 90px, 0);
   }
    20% {
        clip: rect(83px, 9999px, 29px, 0);
   }
    25% {
        clip: rect(78px, 9999px, 7px, 0);
   }
    30% {
        clip: rect(94px, 9999px, 83px, 0);
   }
    35% {
        clip: rect(18px, 9999px, 74px, 0);
   }
    40% {
        clip: rect(32px, 9999px, 98px, 0);
   }
    45% {
        clip: rect(14px, 9999px, 37px, 0);
   }
    50% {
        clip: rect(82px, 9999px, 54px, 0);
   }
    55% {
        clip: rect(2px, 9999px, 2px, 0);
   }
    60% {
        clip: rect(16px, 9999px, 48px, 0);
   }
    65% {
        clip: rect(8px, 9999px, 46px, 0);
   }
    70% {
        clip: rect(70px, 9999px, 92px, 0);
   }
    75% {
        clip: rect(17px, 9999px, 95px, 0);
   }
    80% {
        clip: rect(61px, 9999px, 47px, 0);
   }
    85% {
        clip: rect(23px, 9999px, 27px, 0);
   }
    90% {
        clip: rect(15px, 9999px, 58px, 0);
   }
    95% {
        clip: rect(73px, 9999px, 55px, 0);
   }
    100% {
        clip: rect(89px, 9999px, 1px, 0);
   }
}
.fake-contact-container .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/* <<<<<<<<<<<<<<<<<<<<<<< */


.fake-contact-container p{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-family: 'Akaya Kanadaka', cursive;
}

.fake-contact-container .dead-astronaut {
    width: 270px;
    height: 500px;
    background: url(/src/img/dead_astronaut.png) center no-repeat;
    position: absolute;
    transform: rotate(-60deg);
    animation: dead-astronaut-grave 10s infinite ease-in-out;
}

@keyframes dead-astronaut-grave {
    from {
        right: -25rem;
        top: 25%;
        transform: rotate(-60deg);
    top: 25%;
    }
    to {
        right: 150rem;
        top: 25%;
        transform: rotate(-120deg);
    }
    
}

.middle-eye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
}

.middle-eye:hover {
    cursor: pointer;
}

.upper-container-middle-eye {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.fake-contact-container .eye {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 5px 70px rgba(255, 255, 255, 0.2), 
                inset 0 0 15px #1e1e1e, 
                inset 0 0 25px #1e1e1e;
    z-index: 10;
}

.fake-contact-container .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #1e1e1e;
    border-radius: 50%;
    border: 5px solid rgb(59, 24, 4);
}

.blushed-lines {
    position: absolute;
    bottom: 35px;
    display: flex;
    width: 400px;
    height: 100px;
    z-index: 15;
    visibility: hidden;

}

.fake-contact-container .blushed-lines-r, .fake-contact-container .blushed-lines-l {
    margin: 0 auto;
    width: 5px;
    transform: rotate(10deg);
    background-color: rgb(200, 97, 131, 0.7);
    box-shadow: 50px 0 0 rgb(200, 97, 131, 0.7), -50px 0 0 rgb(200, 97, 131, 0.7);
}

@keyframes blushed-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: .9;
    }
    
}

.fake-contact-container .spider-web {
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: .7;
}

.fake-contact-container .power-switch {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
    .fake-contact-container .spider-web {
        opacity: .2;
    }
}